body {
    background-color: #ffc573;
    margin: 0;
    padding: 0;
    font-family: Baskerville, Georgia, 'Times New Roman';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.header h1 {
    color: #fafaf5;
    font-size: 30px;
}

.menu-icon {
    display: block;
    cursor: pointer;
    font-size: 30px;
    line-height: 1;
    color: #fafaf5;
}

.menu-icon:hover {
    text-decoration: underline;
}

.menu {
    display: none;
}

.menu.show {
    display: block;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu ul li {
    margin: 10px 0;
}

.menu ul li a {
    text-decoration: none;
    color: #014356;
    font-size: 20px;
}

.menu ul li a:hover {
    text-decoration: underline;
}

section {

    text-align:center;
    font-size: 25px;
    color:#014356;
}

h2 {
font-family:Luminari, Baskerville, Georgia, 'Times New Roman', Times, serif
}


img {
  max-width: 100%;
  height: auto;
}

.footer-navbar {
    background-color: #7ecde4;
    padding: 5px;
    text-align: center;
    margin-top: auto;
    color: #014356;
    font-family: Baskerville, Georgia, 'Times New Roman', Times, serif
    font-size: 20px;
    width: 100%;
}

.footer-navbar a {
    color: #014356;
    text-decoration: none;
    padding: 5px;
    margin: 0 5px;
}

.footer-navbar a:hover {
    text-decoration: underline;
}
