body {
    background-color:lightgray;
}

p {
    color:darkgreen;
}

section {
    text-align: center;
    width:55%

}


table
{
  background-color: white;
  color:rgb(253, 253, 253);
}


body {
    font-family: Baskerville, Georgia, 'Times New Roman';
}

img {
    position: fixed;
    bottom:0;
    right:0;

}

nav {
    float: left;
    text-align:center;
}

nav ul li{
    color:darkgreen;
    text-decoration: none;
    margin:9px;
}


footer {
  text-align: center;
    width: 55%;
}